.input{
    border-radius: 30px;
    /* margin-right: 7px; */
   height:50px;
   padding: 10px;
   border-color: #b83ffe;
   color: #b83ffe;
   font-weight: 700;
   font-size:15px;
   text-align: center;
   margin: auto;
   /* margin-left: 5px; */
   margin-bottom: 20px;
   display: block;
   z-index: 1;
   background-color: transparent;
   /* border:none; */
   outline:none;
   position: relative;
   
}
.input2{
  
   
   padding: 2px;
   border: #b83ffe solid 2px;
   color: #b83ffe;
   font-weight: 700;
   font-size:15px;
   text-align: center;  
 margin: auto;
   border-radius: 30px;
   margin-bottom: -15px; background-color: #f5f5f5;

   width:35%;
  z-index: 10;

  position: relative;

}
.button{
    padding: 15px;
    width:50%;
    border:2px solid #b83ffe;
    border-radius: 30px;
    font-weight: 700;
   font-size:15px;
   text-align: center;
   margin:auto;
   align-items: center;
   display: block;
   margin-top: 20px;
   margin-bottom: 30px;
   color: #b83ffe;

}
.div{
    width:100%;
}
.hr{
    border-color: #b83ffe;
    width:90%;
    margin-top: 30px;
}
.hr2{
    border-color: #33ccff;
    width:90%;
    margin-top: 30px;
}
.flex {
    height: 55px;
    padding: 10px;
    background: linear-gradient(45deg, #88cef7 0%,#30b3ff 30%,#ff87f1 100%);
    color: #fff;
    display: flex;
    align-items: center;
     justify-content: center;
    border-radius: 50px;
    width:280px;
    margin:auto;
    margin-top: 5px;
    max-width: 800px;
    font-size: medium;
    gap:15px;
    cursor:pointer;
  }
  .span{
     /* border:1px white solid; */
      padding:10px;
      border-radius: 30px;
      /* outline:1px solid white ; */
      box-shadow:inset -0px 0px 10px white;
      cursor:pointer;
  }